AWS_IOT_ENDPOINT=xxxxxx-ats.iot.ap-south-1.amazonaws.com
AWS_IOT_CERT_PATH=./certs/certificate.pem.crt
AWS_IOT_KEY_PATH=./certs/private.pem.key
AWS_IOT_ROOT_CA_PATH=./certs/AmazonRootCA1.pem
SIMULATOR_INTERVAL_MS=600000
